<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seop.gyun.recipedia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".RecipediaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipediaContainerActivity"
            android:label="@string/app_name" />
        <activity android:name=".RecipeBoxActivity" />
        <activity android:name=".column.ColumnActivity" />
        <activity android:name=".recipe.RecipeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="recipe"
                    android:scheme="recipedia" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipe.ReplyActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".price.PriceInfoActivity" />
        <activity android:name=".survey.SurveyActivity" />
        <activity android:name=".survey.result.SurveyResultActivity" />

        <service
            android:name=".AddressIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC16e-bYHfkNSNKsZSSq9TmiQwnb1E8lHM" />
    </application>

</manifest>